:root {
  --primaryColor: #3a4d39;
  --secondaryColor: #4f6f52;
  --thirdColor: #739072;
  --accentColor: #ece3ce;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primaryColor);
  color: var(--accentColor);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryColor);
  padding: 1rem;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  color: var(--accentColor);
  font-size: 1.2rem;
}

#logout-button {
  background-color: var(--thirdColor);
  color: var(--accentColor);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.admin-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.item-table {
  flex: 1 1 70%; /* Adjust the flex-basis to 70% */
  margin-right: 20px;
  border: 1px solid var(--accentColor);
}

.add-item-section {
  flex: 1 1 25%; /* Adjust the flex-basis to 25% */
  padding: 20px;
  background-color: var(--thirdColor);
  border: 1px solid var(--accentColor);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--accentColor);
  padding: 8px;
  text-align: left;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: var(--secondaryColor);
}

@media screen and (max-width: 850px) {
  .navbar,
  .add-item-section {
    width: 100%; /* Ensures full width */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
  }

  .navbar {
    flex-direction: column; /* Stacks the items vertically */
    align-items: stretch; /* Stretches items to fill the width */
  }

  .profile-info,
  .logout-button {
    width: 100%; /* Full width for children of navbar */
    justify-content: space-between; /* Spreads items across the width */
  }

  .item-table,
  .add-item-section {
    flex-basis: 100%; /* Full width for item table and add-item section */
    margin-right: 0;
    margin-bottom: 20px;
  }
}
