:root {
  --primaryColor: #3a4d39;
  --secondaryColor: #4f6f52;
  --thirdColor: #739072;
  --accentColor: #ece3ce;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primaryColor);
  color: var(--accentColor);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryColor);
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  color: var(--accentColor);
}

.search-bar input,
.login-form input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  border: none;
}

.search-bar button,
.login-form button {
  background-color: var(--thirdColor);
  color: var(--accentColor);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.welcome-text {
  text-align: center;
  margin-top: 50px;
}

footer {
  text-align: center;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--secondaryColor);
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar,
  .login-form {
    width: 100%;
    margin-top: 10px;
  }
}
