:root {
  --primaryColor: #3a4d39;
  --secondaryColor: #4f6f52;
  --thirdColor: #739072;
  --accentColor: #ece3ce;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primaryColor);
  color: var(--accentColor);
}

main {
  flex: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondaryColor);
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  color: var(--accentColor);
}

.search-bar input,
.login-form input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  border: none;
}

.search-bar button,
.login-form button {
  background-color: var(--thirdColor);
  color: var(--accentColor);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust height as needed */
  text-align: center;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .search-bar,
  .login-form {
    width: 100%;
    margin: 0.5rem 0;
  }

  .search-bar input,
  .login-form input,
  .login-form button {
    width: 90%; /* Adjust as needed for smaller screens */
  }

  .welcome-container h1 {
    font-size: 1.5rem; /* Smaller font size for smaller screens */
  }

  .welcome-container p {
    font-size: 1rem; /* Smaller font size for smaller screens */
  }

  /* Add more responsive styles as needed */
}

/* Footer styles */
footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--secondaryColor);
  color: var(--accentColor);
}
